
<div id="app">
  <div id="aside" class="p-3 px-4">
    <ul class="list-unstyled">
      <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="text-decoration-none">
          <i class="fas fa-chart-line"></i>報表
        </a>
      </li>
      <li>
        <a [routerLink]="['/expense']" routerLinkActive="router-link-active"  class="text-decoration-none">
          <i class="fas fa-dollar-sign"></i>支出
        </a>
      </li>
      <li>
        <a [routerLink]="['/expense']" routerLinkActive="router-link-active"  class="text-decoration-none">
          <i class="fas fa-quidditch"></i>計畫
        </a>
      </li>
      <li>
        <a [routerLink]="['/expense']" routerLinkActive="router-link-active"  class="text-decoration-none">
          <i class="fas fa-hand-holding-usd"></i>固定性支出
        </a>
      </li>
      <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="text-decoration-none">
          <i class="fas fa-wallet"></i>預算
        </a>
      </li>
      <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="text-decoration-none">
          <i class="fas fa-file-excel"></i>資料匯入
        </a>
      </li>
      <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="text-decoration-none">
          <i class="fas fa-cogs"></i>設定
        </a>
      </li>
    </ul>
  </div>
  <div id="main" class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
