$link-color:(white!important)

#app
    overflow: hidden
    width: 100vw
    height:100vh
    padding-left: 250px
    background-color: #F6F9FD
#aside
    position: fixed
    z-index: 1
    top: 0
    left: 0
    width:250px
    height:100vh
    background-color:  #121432
    color: white
#main
    background-color: #F6F9FD
    width: calc( 100vw - 250px )
    max-height:100vh
    overflow-y: scroll
li
    line-height: 50px
    a
        color:$link-color
        i
            margin-right: 10px
@media screen and ( max-width:850px  )
    #app
        padding-left: 0px
    #aside
        position: fixed
        top: 0
        height: 50px
        width: 100vw
        overflow: hidden
        ul
          display: none
    #main
        margin-top: 50px
        background-color: #F6F9FD
        width:100vw
        height:100vh

